<template>
  <DefaultLayout>
    <!-- Heading -->
    <h1 class="h3 mt-5">Dear Ubuntu Contributors</h1>
    <p class="mt-3 h6">
      The entire UBports community relies on these pages. Unfortunately, the
      correlation between porter’s work and the software capability list is a
      manual process. Therefore, we would appreciate it if you could help
      improve this website. Newcomers will benefit from your work!
    </p>

    <p class="mt-3">
      Due to the natural characteristics of open source, information tends to be
      spread across and wide range of resources, and it can be a challenge to
      track everything down.
    </p>

    <p class="mt-3">
      We encourage porters to bring everything together in one place and to keep
      the most relevant links for their devices up-to-date.
    </p>

    <p class="mt-3">
      The list of properties that a device page can present may vary over time.
      However, the porters provide the mandatory information to establish a page
      with at least the essential info.
    </p>

    <div v-if="$page.device.notValid.length">
      <h2 class="h4 mt-5">How Can I help?</h2>

      <p class="mt-2">
        We noticed
        <a
          class="text-orange bold"
          :href="
            'https://gitlab.com/ubports/infrastructure/devices.ubuntu-touch.io/-/blob/main/data/devices/' +
            $page.device.codename +
            '.md'
          "
        >
          {{ $page.device.name }} page
        </a>
        has few missing properties from the last report
      </p>

      <ul class="mt-2 missing-data-list">
        <li v-for="(error, index) in $page.device.notValid" :key="index">
          {{ error }}
        </li>
      </ul>
    </div>

    <h3 class="mt-5 h4">
      Gathering information is one of the first things to do.
    </h3>

    <p class="mt-3">
      Did you come across a useful source for information like the UBports
      GitHub/GitLab repos, UBport forum, Telegram groups (e.g., Welcome &
      Install or Porting), …?
      <span class="text-orange bold">Then we ask you to share it with us!</span>
    </p>

    <h3 class="mt-5 h4">Another way to start:</h3>
    <p class="mt-3">
      Pick a topic you good at:

      <a
        href="https://gitlab.com/ubports/infrastructure/devices.ubuntu-touch.io#device-description"
        target="_blank"
        class="link"
        >Device description</a
      >
      |
      <a
        href="https://gitlab.com/ubports/infrastructure/devices.ubuntu-touch.io#contributors"
        target="_blank"
        class="link"
        >Contributors</a
      >
      |
      <a
        href="https://gitlab.com/ubports/infrastructure/devices.ubuntu-touch.io#external-links-community-help-and-doc-links"
        target="_blank"
        class="link"
        >External Links</a
      >
      |
      <a
        href="https://gitlab.com/ubports/infrastructure/devices.ubuntu-touch.io#yaml-metadata-block-reference"
        target="_blank"
        class="link"
        >Meta Data</a
      >
      |
      <a
        href="https://gitlab.com/ubports/infrastructure/devices.ubuntu-touch.io#device-specifications"
        target="_blank"
        class="link"
        >Device Info (Specifications)</a
      >
    </p>
  </DefaultLayout>
</template>

<page-query>
query ($id: ID!) {
  device(id: $id) {
    name
    codename
    nextProgressStage
    notValid
    portStatus { categoryName }
    nextStageRequirements {
      categoryName
      features { name value }
    }
  }
}
</page-query>

<script>
export default {
  metaInfo() {
    return {
      title: this.$page.device.name,
      meta: [
        {
          name: "robots",
          content: "noindex"
        },
        {
          name: "description",
          content:
            "Read the developer report for " +
            this.$page.device.name +
            " with the Ubuntu Touch operating system."
        },
        {
          property: "og:url",
          content: "https://devices.ubuntu-touch.io" + this.$route.path
        },
        {
          property: "og:title",
          content: this.$page.device.name + " • Developer report"
        },
        {
          property: "og:description",
          content:
            "Read the developer report for " +
            this.$page.device.name +
            " with the Ubuntu Touch operating system."
        }
      ]
    };
  }
};
</script>
