// -----------------------------------------------------------------------------
// This file contains all styles related to the sidenav component.
// -----------------------------------------------------------------------------

.nav-menu {
  position: fixed;
  top: 150px;
  width:235px;
  right: 0;
  padding-top:20px;
  padding-left: 35px;
  padding-bottom: 20px;
  backdrop-filter: blur(8px);
  background-color: var(--background-transparent);
  border-radius: 25px 0 0 25px;

  @media (max-width: 1299.98px) {
    display: none !important;
  }

  ul {
    display: block;

    li {
      line-height: 2;

      img {
        display: inline;
        max-height: 1.2em;
      }

      a {
        padding: 0;

        &.active {
          font-weight: 700;
          color:var(--text-highlight);
        }
      }
    }
  }
}
