<template>
  <DefaultLayout>
    <div class="devices-homepage">
      <g-image
        class="mb-5 d-lg-none cursor-lg-pointer"
        src="~/assets/img/choose-device.svg"
        alt="choose-device-img"
        @click="toggleChoose"
      />

      <h1 class="mb-2 h3">Find the Linux phone that suits you</h1>
      <h2 class="h5">
        The list on the left shows devices supported by Ubuntu Touch. The
        so-called ‘ports’ for these are maintained by the UBports community, a
        collective of passionate Linux phone users, who devote some of their
        free time, so you can enjoy Ubuntu Touch on your smartphone.
      </h2>

      <h2 class="mb-2 mt-5 h4">Get Help</h2>
      <p>
        Device performance may vary from one device to another. All mature
        devices have easy access to installation through the UBports installer.
        However, devices in an early state generally need to follow a manual
        installation procedure, which might be complicated. If you complete
        installation on yours, depending on your skills you can then assist
        others
        <a class="link" href="http://t.me/WelcomePlus/" target="_blank"
          >@UBports Welcome & Install group</a
        >
        group
      </p>
      <p>
        UBports is a volunteer group, formalised as a charitable foundation. We
        borrow software freely provided by others and in turn we share what we
        create. We hope you enjoy Ubuntu Touch and we put our best efforts into
        it with our limited resources. Individual users are welcome to use it,
        as they wish. Things rarely go badly wrong but if they do, remember that
        we have gifted the software to you in good faith and the decision to
        take any risk rests on your shoulders. We cannot cover your back if any
        damage is caused.
      </p>

      <h2 class="mb-2 mt-5 h4">
        Top choice devices
        <span class="badge badge-pill device-tag-promoted"
          ><g-image
            class="both-invert"
            src="~/assets/img/symbols/promoted-star.svg"
        /></span>
      </h2>

      <p>
        Devices of the following three categories are the ones most likely to
        satisfy your needs over an extended period.
      </p>

      <b>Commercial maintainers</b>
      <p>
        Companies like Volla, FXP and Fairphone offer compatible Ubuntu Phones
        as part of their business. Their reputation rests on preventing any
        major problems and taking a long view. Some devices can even be bought
        with Ubuntu Touch already installed!
      </p>

      <b>Porters with a track record</b>
      <p>
        Some porters have built a reputation for long term commitment and
        competence.
      </p>

      <b>Ubuntu Touch Edition</b>
      <p>
        If you have one of the older devices, they are solid for now. Many in
        our community use them but technical difficulties in updating and closed
        source elements which we can’t access mean that those devices are not a
        good choice for anyone just starting with UT. They are also getting aged
        now and experience hardware faults.
      </p>
      <p>
        If you manage to grab a new generation Ubuntu Touch Edition device like
        the Pinephone Pro or a Volla phone, that will be supported for much
        longer of course.
      </p>

      <h2 class="mb-2 mt-5 h4">Convergence</h2>
      <p>
        Connecting your phone to a display screen and using it as desktop
        station; keeping in mind that very few devices are supported in this
        way. We have looked at making a Miracast or DisplayLink option available
        but the technical obstacles are quite substantial.
      </p>

      <h2 class="mb-2 mt-5 h4">
        When will the device that you have be added to the list?
      </h2>
      <p>
        There are more than 24K different devices out there, which means the
        probability of your particular device becoming available is small. A
        phone is not truly a ‘desktop in your pocket’ but Ubuntu Touch uses the
        Ubuntu OS as its basis. Our best recommendation is that you get one of
        the phones highlighted on the list, so you can enjoy a real world Linux
        Phone experience.
      </p>

      <h2 class="mb-2 mt-5 h4">The porting process</h2>
      <p>
        Porting is the process of adapting Ubuntu Touch software to run on new
        hardware, to create an Open Source Phone; as long as the hardware is
        manufactured without open-source documentation, the porting process is a
        matter of reverse engineering and may never match the capability of the
        device 100%. Some features present in the Android version may be
        missing.
      </p>
    </div>
  </DefaultLayout>
</template>

<script>
export default {
  metaInfo: {
    title: "Choose your device",
    meta: [
      {
        name: "keywords",
        content: "Linux phone, Ubuntu Phone, Open Source Phone"
      },
      {
        name: "description",
        content:
          "Explore Linux phones with Ubuntu Touch. Compare the devices and choose the one that suits your needs best, then flash it with the installer."
      },
      {
        property: "og:url",
        content: "https://devices.ubuntu-touch.io"
      },
      {
        property: "og:title",
        content: "Ubuntu Touch • Linux Phone"
      },
      {
        property: "og:description",
        content:
          "Explore Linux phones with Ubuntu Touch. Compare the devices and choose the one that suits your needs best, then flash it with the installer."
      }
    ]
  },
  methods: {
    toggleChoose() {
      this.$root.$emit("bv::toggle::collapse", "sidebarCollapse");
    }
  }
};
</script>
