// -----------------------------------------------------------------------------
// This file contains styles that are specific to the ports page.
// -----------------------------------------------------------------------------

// Ports
.ports {
  overflow: hidden;

  @media (max-width: 1199.98px) {
    padding-bottom: 120px;
  }

  @media (max-width: 991.98px) {
    padding-bottom: 35px;
  }

  h2 {
    margin-bottom: 10px;
  }

  .container {
    display: grid;

    @media (max-width: 991.98px) {
      grid-template-columns: 100%;
    }

    @media (min-width: 992px) {
      grid-template-columns: 30% 70%;
    }
    @media (min-width: 1300px) {
      max-width: $container-large;
      grid-template-columns: 30% 70%;
      padding-right:250px;
    }
  }

  // Content
  .content {
    min-width: 0;
    padding-right:20px;
    padding-left: 50px;
    padding-top: 35px;
    color: var(--text-primary);

    .devices-homepage {
      p {
        margin-bottom: 15px;
      }

      .card-body {
        border: 1px solid $gray-lighter;
        padding: 10px 0px 0px 10px;
      }

      .device-tag-promoted {
        background-color: $ubuntu-purple-light;
        font-weight: lighter;
        color: $off-white;
        vertical-align: middle;
        margin-left: 10px;
      }
    }

    @media (max-width: 991.98px) {
      padding-left: 0;
      padding-top: 25px;
    }
  }

  .wide-content {
    grid-column: 2;
  }

  .meta {
    display: flex;
    margin-top: 0px;
    margin-bottom: 35px;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;

    .badge {
      font-weight: lighter;
      padding:7px;
      color: var(--text-primary);
      background-color: var(--background-secondary);
    }
  }

  .heading {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;

    .title {
      padding-right: 45px;

      @media (max-width: 991.98px) {
        width: 100%;
        padding-right: 0;
      }

      div {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        @media (max-width: 991.98px) {
          justify-content: space-between;
        }
      }
    }

    h1 {
      margin-bottom: 5px;
      width: auto;
    }
  }

  .progress {
    margin-bottom: 20px;

    .external-label {
      padding: 10px 0 0 10px;
      color: var(--text-primary);
      text-align: left;
    }
  }

  .steps {
    margin-bottom: 20px;
    line-height: 2;
  }

  .state-icon {
    display: inline;
    max-height: 1em;
  }

  .bugs {
    margin-bottom: 25px;
  }

  .solutions {
    margin-bottom: 50px;
  }

  .unmaintained::after {
    border-left: 7px solid $red;
  }

  .markdown-content {
    h1, h2, h3, h4, h5, h6 {
      padding-top: 10px;
      margin-bottom:10px;
    }

    ul > li {
      list-style: square inside;
      padding: 3px 0 3px 20px;
    }

    ol > li {
      list-style: decimal inside;
      padding: 3px 0 3px 20px;
    }

    li > p:first-child {
      display: inline;
    }

    pre {
      display: flex;
      margin-top: 7px;
      border-left: 7px solid $ubuntu-purple;
      background-color: var(--background-secondary);
      padding: 10px 15px;
      color: var(--text-primary);
    }

    a {
      color: var(--link-primary);

      &:hover,
      &:focus,
      &:active {
        color: var(--link-primary-hover);
      }
    }

    table {
      width: auto;
      font-family: 'ubuntu-mono';
      margin-bottom: 0;
      color: var(--text-primary);

      @media (max-width: 991.98px) {
        width: 100%;
      }

      tbody {
        tr:nth-of-type(2n+1) {
          background-color: var(--table-even);
        }

        tr:nth-of-type(2n) {
          background-color: var(--table-odd);
        }
      }

      td, th {
        padding: 1px 80px 1px 15px;
        border-top: 5px solid var(--background-body);
        white-space: nowrap;

        @media (max-width: 991.98px) {
          padding: 1px 15px;
        }
      }
    }
  }

  .no-installer {
    margin-top: -35px !important;
  }

  .no-installer, .unmaintained {
    margin-top: 40px;

    @media (max-width: 991.98px) {
      margin-bottom: 30px;
    }
  }

  .choose-device {
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
  }

  .helpflash-container, .phones-container {
    position: absolute;
    overflow: hidden;
    width: 150%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;

    img {
      position: absolute;
      top: -100px;
      right: 0;
      height: 200%;

      @media (max-width: 512px) {
        display: none;
      }
    }

    .test {
      top: unset;
      height: unset;
    }

    @media (max-width: 1199.98px) {
      left: 70px;
    }

    @media (max-width: 991.98px) {
      left: 0;
    }

    @media (max-width: 767.98px) {
      left: 130px;
    }
  }

  .phones-container {
    z-index: unset;
  }

  .supportDevice > p > img.g-image {
    display: inline;
  }

  .installer-video {
    position:relative;
    top:0;
    left:-50px;
    margin-top: 30px;
    padding: 60px 0px 60px 60px;
    color: var(--text-light);

    h2 {
      color: var(--text-light);
    }

    a {
      text-decoration: underline;
    }

    &::after {
      content:'';
      position:absolute;
      top:0;
      left:0;
      height:100%;
      width:200%;
      background: linear-gradient(268.44deg, $ubuntu-orange -13.61%, $ubuntu-purple-light 83.98%);
      z-index:-2;

      @media (max-width: 991.98px) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

// Missing data list
.missing-data-list > li {
  list-style: square inside;
  padding: 3px;
}

.device-codenames {
  td:nth-of-type(3) {
    width: 42px;
    min-width: 42px;
  }
}

.tooltip-inner {
  background: var(--background-body);
  color: var(--text-primary);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  text-align: left;
  font-size: 12px;
  padding: 20px;
  border-radius: 10px 0px 10px 0px;
}
