<template>
  <div class="nav-menu">
    <b-nav v-b-scrollspy>
      <b-nav-item href="#deviceOverview">Overview</b-nav-item>
      <b-nav-item v-if="availableData.portStatus" href="#portStatus"
        >Features & Usability</b-nav-item
      >
      <b-nav-item v-if="availableData.helpWanted" href="#helpWanted"
        >Help Maintainer</b-nav-item
      >
      <b-nav-item v-if="availableData.deviceSpec" href="#deviceSpec"
        >Specifications</b-nav-item
      >
      <b-nav-item v-if="availableData.docLinks" href="#docLinks"
        >Related Docs</b-nav-item
      >
      <b-nav-item v-if="availableData.portContributors" href="#portContributors"
        >Contributors</b-nav-item
      >
      <b-nav-item
        v-if="availableData.installerDownload"
        href="#installerDownload"
        >UBports installer</b-nav-item
      >
      <b-nav-item v-b-toggle.solvebar>
        <g-image
          class="dark-invert-40"
          src="~/assets/img/symbols/flag.svg"
          title="Report Bug"
        />
        Report Bug</b-nav-item
      >
      <b-nav-item v-if="availableData.discussionsbar" v-b-toggle.discussionsbar>
        <g-image
          class="dark-invert-40"
          src="~/assets/img/symbols/community.svg"
          title="Community"
        />
        Community</b-nav-item
      >
    </b-nav>
  </div>
</template>

<script>
import { BNav, BNavItem, VBScrollspy, VBToggle } from "bootstrap-vue";

export default {
  name: "NavMenu",
  components: {
    BNav,
    BNavItem
  },
  directives: {
    "b-scrollspy": VBScrollspy,
    "b-toggle": VBToggle
  },
  props: {
    availableData: {
      type: Object,
      default: function () {
        return {
          portStatus: false,
          deviceSpec: false,
          helpWanted: false,
          docLinks: false,
          portContributors: false,
          installerDownload: false,
          discussionsbar: false
        };
      }
    }
  }
};
</script>
