<template>
  <!-- Features -->
  <div class="feature-map">
    <div class="heading">
      <h2 class="mb-4 h3">Features & Usability</h2>

      <!-- Git rss notifications -->
      <a id="git-notification" class="btn badge-pill btn-light">
        <g-image
          class="dark-invert"
          src="~/assets/img/symbols/git-notification.svg"
        />
      </a>
      <b-tooltip
        target="git-notification"
        triggers="hover"
        placement="bottomleft"
      >
        <b>Get bug fix alerts</b><br />
        Use GitHub to subscribe to the Issues. So whenever bugs get solved (or a
        fix needs testing) you will know about that.
      </b-tooltip>
    </div>

    <!--Usability-->
    <div class="usability-description row mb-5">
      <div class="col-lg-6 col-md-12">
        <p class="small mb-2 light">Automated Usability</p>
        <p>{{ progressStage }}</p>
      </div>
    </div>
    <!-- Feature list-->
    <div class="features">
      <ul
        v-for="featureCategory in portStatus"
        :key="featureCategory.categoryName"
      >
        <li>
          <p class="small mr-2 light">{{ featureCategory.categoryName }}:</p>
        </li>
        <li v-for="feature in featureCategory.features" :key="feature.name">
          <span v-if="feature.value === '+'" class="feature-icon"
            ><g-image src="~/assets/img/feature-matrix/working.svg" />
            <span v-if="feature.global"
              >&nbsp;<g-image
                class="dark-invert"
                src="~/assets/img/feature-matrix/global.svg" /></span
            >&nbsp;</span
          >
          <span v-else-if="feature.value === '+-'" class="feature-icon"
            ><g-image
              class="dark-invert"
              src="~/assets/img/feature-matrix/partial.svg"
            />
            <span v-if="feature.global"
              >&nbsp;<g-image
                class="dark-invert"
                src="~/assets/img/feature-matrix/global.svg" /></span
            >&nbsp;</span
          >
          <span v-else-if="feature.value === '-'" class="feature-icon"
            ><g-image src="~/assets/img/feature-matrix/not-working.svg" />
            <span v-if="feature.global"
              >&nbsp;<g-image
                class="dark-invert"
                src="~/assets/img/feature-matrix/global.svg" /></span
            >&nbsp;</span
          >
          <span v-else class="feature-icon"
            ><g-image
              class="dark-invert"
              src="~/assets/img/feature-matrix/untested.svg"
            />
            <span v-if="feature.global"
              >&nbsp;<g-image
                class="dark-invert"
                src="~/assets/img/feature-matrix/global.svg" /></span
            >&nbsp;</span
          >

          <a
            v-if="feature.bugTracker"
            :href="feature.bugTracker"
            :style="{ color: feature.value != '+' ? '#555' : 'inherit' }"
            target="_blank"
            rel="noreferrer noopener"
            >{{ feature.name }}</a
          >
          <span
            v-else
            :style="{ color: feature.value != '+' ? '#555' : 'inherit' }"
            >{{ feature.name }}</span
          >
        </li>
      </ul>
    </div>

    <div class="feature-legend row mt-5">
      <div class="col-6 card-body g-0">
        <g-image
          class="dark-invert"
          src="~/assets/img/feature-matrix/partial.svg"
        />
        <span> Partial</span>
        <p>It works basically, but with some issues, or not as intended.</p>
      </div>

      <div class="col-6 card-body g-0">
        <g-image
          class="dark-invert"
          src="~/assets/img/feature-matrix/global.svg"
        />
        <span> Global Issue</span>
        <p>
          Some issues might not depend on the device, 'not device specific'.
        </p>
      </div>

      <div class="col-6 card-body g-0">
        <g-image src="~/assets/img/feature-matrix/working.svg" />
        <span> Working</span>
        <p>
          <b>“Known as working”</b> would be the proper term. The list isn't
          correct? Consider
          <a
            class="link"
            href="https://gitlab.com/ubports/infrastructure/devices.ubuntu-touch.io/"
            >updating</a
          >
          this page, including the link to issue you found.
        </p>
      </div>

      <div class="col-6 card-body g-0">
        <g-image src="~/assets/img/feature-matrix/not-working.svg" />
        <span> Not Working</span>
        <p>
          <b>A link to the issue</b> will appear when a feature is broken. Hit
          the '<g-image
            class="dark-invert"
            src="~/assets/img/symbols/bell-notification.svg"
          />' Subscribe to receive notifications from this thread.
        </p>
      </div>

      <div v-if="untestedCount" class="col-6 card-body g-0">
        <g-image
          class="dark-invert"
          src="~/assets/img/feature-matrix/untested.svg"
        />
        <span> Untested</span>
        <p>
          This feature isn't tested yet. If you own this device, you can test it
          and
          <a
            class="link"
            href="https://gitlab.com/ubports/infrastructure/devices.ubuntu-touch.io/"
            >update</a
          >
          this page.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { BTooltip } from "bootstrap-vue";

export default {
  name: "PortStatus",
  components: {
    BTooltip
  },
  props: {
    portStatus: {
      type: Array,
      default: function () {
        return [];
      }
    },
    progressStage: {
      type: String,
      default: ""
    },
    untestedCount: {
      type: Number,
      default: 0
    }
  }
};
</script>
